.venue-banner {
    padding: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 500px;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
  }
  
  .venue-banner-content {
    max-width: 1400px;
    width: 100%;
    text-align: center;
  }
  
  .event-title {
    font-size: 48px;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .event-info {
    font-size: 18px;
  }
  
  .event-info div {
    margin-bottom: 10px;
  }
  
  .event-info strong {
    font-weight: 700;
  }
  
  .event-date, .event-time, .event-venue {
    padding: 10px;
    border-radius: 5px;
    margin: 15px 0;
  }
  
  .event-date {
    /* background-color: #f39c12; */
    width: 600px;
    font-size: 24px;
    color: white;
    padding: 10px;
    margin: 0 auto 15px auto;
    margin-bottom: 10px;
  }
  
  .event-time {
    /* background-color: #16a085; */
    width: 600px;
    font-size: 24px;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
  }
  
  .event-venue {
    /* background-color: #e74c3c; */
    width: 600px;
    font-size: 24px;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
  }

  .join-button {
    background-color: var(--secondary-color); 
    height: 60px;
    width: 350px;
    color: white;
    padding: 10px 20px;
    font-size: 28px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .join-button:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: darken(var(--secondary-color), 10%); 
  }
  
  .manage-event-container {
    display: flex;
    justify-content: center;
  }
  
  .manage-event-button {
    margin-left: auto;
    margin-right: 0px !important;
    height: 60px;
    font-size: 16px;
    background-color: var(--secondary-color);
    color: #fff;
  }

  .manage-event-button:hover {
    background-color: var( --primary-color) !important; 
    color: var(--text-color-light) !important;
    border-color:var(--primary-color) !important;
  }

  .manage-event-button .anticon {
    margin-right: 5px; /* Adjust this value for the desired gap */
  }

  .A_VenueDateTime-modal .ant-modal-header{
    background-color: #efeff8;
  }

  .A_VenueDateTime-modal .ant-modal-content{
    background-color: #efeff8;
  }
  .A_VenueDateTime-form {
    background-color: #efeff8; /* Change form background color */
    padding: 20px; /* Adjust padding */
    border-radius: 8px; /* Add rounded corners */
    box-shadow: none;
  }

  .modal-title {
    color: var(--primary-color); 
    font-size: 24px;          
    font-weight: bold;         
    text-align: center;      
    margin: 0;                 
  }

  .ant-form-item {
    height: 70px;
  }

  .event-header {
    position: relative;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
  }
  
  .event-header .event-title {
    position: absolute;
    text-align: center; 
    right: 30%;
  }

  .ant-form-item-explain-error {
    color: #d32f2f; 
    margin-top: -10px; 
    font-size: 12px; 
  }
  