.input-container {
  margin-top: 5px;
  margin-bottom: 8px;
}

.input-container .input-label{
  margin-bottom: 2px;
}

.ant-input {
  border-color: #1e0250 !important; /* Custom border color */
}

.ant-input:hover,
.ant-input:focus,
.ant-input-focused {
  border-color: #1e0250 !important; /* Custom border color for hover and focus */
  box-shadow: 0 0 6px rgba(30, 2, 80, 0.6) !important; /* Custom box-shadow for hover and focus */
}

.input-container .ant-input-affix-wrapper {
  border-color: #1e0250 !important; /* Custom border color */
}

.input-container .ant-input-affix-wrapper:hover,
.input-container .ant-input-affix-wrapper:focus,
.input-container .ant-input-affix-wrapper-focused {
  border-color: #1e0250 !important; /* Custom border color for hover and focus */
  box-shadow: 0 0 6px rgba(30, 2, 80, 0.6) !important; /* Custom box-shadow for hover and focus */
}

.input-container .ant-input-affix-wrapper .ant-input {
  border-color: none !important; 
  box-shadow: none !important;
}



